
$small_display: 480px;

$mobile: 35.500em; // 568px

$mobile_landscape: 41.6875em; // 667px

$tablet_width: 48.000em; // 768px

$admin_width: 48.938em; //783px

$desktop_width: 64.000em; //1024px

$large_screen: 75.000em; //1200px

$wide_width: 85.375em; //1366px

$diagonal_screen: 100em; //1600px

$ultra_wide_screen: 120em; //1920px
