/**
 * 2.4 - Heading
 */

h1,
h2,
h3,
h4,
h5,
h6,
.pricing-section .amount {
    clear: both;
    font-weight: 700;
    margin: 0;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&:first-child{
		margin-top: 0;
	}
}
